# macOS system files
.DS_Store
# VS Code settings
.vscode/
.idea/
.idea
**/.idea/
**/Datasets/
.ipynb_checkpoints/
Example_3/
# Virtual environment
venv/
# Python bytecode
**/__pycache__/
# Directory containing the test/draft files
scratchpad/
# PDF and Mac Pages files
*.pdf
*.pages
*.xlsx
*.docx
**/*.zip
*.key
# Ignore everything inside data/
Data/Caltech20/train/*
Data/Caltech20/test/*
Data/TurCoins/train/*
Data/TurCoins/test/*
ProducedData/*
Papers/
xlsa17/
Code/Project_Data/*
Code/tfvaagen/
Code/venv/
# But keep the subdirectory itself
!Data/Caltech20/train/.gitkeep
!Data/Caltech20/test/.gitkeep
!Data/TurCoins/train/.gitkeep
!Data/TurCoins/test/.gitkeep
!Data/.gitkeep
!ProducedData/.gitkeep
!Code/Datasets/.gitkeep
!Code/tfvaagen/.gitkeep
!Poster.pdf
# Ignore everything inside quickdraw_subset_np
models/
notebooks/
classification_draft_1.ipynb
DRAFT_1.ipynb
DRAFT_2.ipynb

